@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-3  text-right">hub: </div>
        <div class="col-md-9"><span data-bind="text: currentState().hubId"></span></div>
    </div>
    <div class="row">
        <div class="col-md-3 text-right">session: </div>
        <div class="col-md-9"><span data-bind="text: currentState().sessionId"></span></div>
    </div>

   
</div>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>
@section scripts
{
    <script src="~/Scripts/knockout-3.2.0.debug.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">


        HubConnection = function () {

            //this.id = '';

            this.sessionId = '';

            this.hubId = '';

            this.hubState = {};

            this.createdOn = new Date();
        };
        Map = function (entity) {
            var hub = new HubConnection();
            //hub.id = entity.Id;
            hub.sessionId = entity.SessionId;
            hub.hubId = entity.HubId;
            hub.hubState = entity.HubState;
            hub.createdOn = entity.CreatedOn;
            return hub;
        }

        ViewModel = function () {
            var self = this;
            self.currentState = ko.observable();
            self.stateHistory = ko.observableArray();
        }

        $(function () {
            $.connection.assistHub.client.hello = function () {
                console.log("Hello from server");
            };
            $.connection.hub.start().done(function () {
                $.ajax({
                    url: '/hubconnect',
                    data: { connectionId: $.connection.hub.id },
                    type: 'post',
                    success: function (shouldConnect) {
                        var ahub = Map(shouldConnect);
                        var model = new ViewModel();
                        model.currentState(ahub);
                        ko.applyBindings(model);
                    },
                });
            });
        });
    </script>
}
